@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|IBM+Plex+Mono:400,600');



body {
  background-color: rgb(46, 46, 46);
  color: #fff;
}
.card {
  background-color: #272727;
  border: 1px solid rgba(139, 139, 139, 0.125);
  color: #fff;
  margin: 0 auto;
  max-width: 90%;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(120, 120, 120, 0.125);
  cursor: pointer;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
}

.card-header > h3 {
  padding: 10px 0;
}

.title__bot {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.5em;
  margin: 30px auto;
  max-width: 90%;
}

.status__module {
  margin-left: 20px;
  padding: 0 20px;
  width: 500px;
  height: auto;
}

.status__module:last-child {
  margin-bottom: 30px;
}

.status__item {
  display: block;
  margin: 10px 10px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.status__itemTitle {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'IBM Plex Mono', monospace;
}

.list-group {
  list-style-type: none;
}

.bomdia__item {
  font-size: 14px;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  padding: 6px 0;
}
